.card {
  width: 300px;
  border: 1px solid gray;
}
.card img {
  width: 100%;
  height: auto;
}
.card-content {
  padding: 12px;
}
.card-content .card-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.top-section {
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
  margin: 0 auto;
  margin-block: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.top-section input {
  padding: 12px;
  width: 70%;
  background-color: dimgray;
  color: white;
  font-size: 1.3em;
}
.top-section button {
  padding: 12px;
  width: 20%;
  background-color: red;
  color: white;
  font-size: 1.3em;
}
.App {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 107, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
